<!DOCTYPE html>
<head>
	<title>The future of fashion retail: How COVID has changed the face of fashion forever</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='./CSS/main.css') }}" type="text/css">
</head>
<body style="margin:0px; background-color:black;">
	<div class="header">
		<div id="container">
			<div id="tab_container">
				<a href="{{url_for('home')}}"><div class="tab coltab" id="Home">Home</div></a>
				<a href="#footer"><div class="tab coltab" id="About">About</div></a>
				<a href="{{url_for('archive')}}"><div class="tab coltab" id="Archive">Archive</div></a>
			</div>
			<div id="title">Blogonomics</div>
		</div>
	</div>
	<div id="blogContent">
		<h1 class="heads" id="blogTitle">The future of fashion retail: How COVID has changed the face of fashion forever</h1>
		<h3 class="heads" id="introPara">An already declining high street fashion market coupled with a global pandemic is certainly not a concoction of success for most fashion retailers. In 2019, the hardest sector hit on the high street by far was fashion, with hundreds of store closures and countless job cuts from big-name brands like Marks and Spencer’s, and the demise of Debenhams had already started with the brand falling into administration in April.</h3>
		<img src="{{ url_for('static', filename='./Images/fashionRetail.jpg') }}" class="MainIMG">
		<p class="para">With the closure of non-essential shops on 23 March, companies across the country began scrambling to find ways to remain profitable. Many fashion retailers already had an online presence, with some exclusively trading online – the largest of which being “boohoo” and “asos” in the UK. However, many retailers struggled with insufficient infrastructure following a surge of online orders, with “next” having to shut completely for much of the first half of the first lockdown. With only some supermarket fashion brands allowed to trade during lockdown, the UK saw an almost 100% switch to online fashion retail. As seen with the example of “next”, this led to many retailers unable to meet demand, and in some cases the “big switch” did not improve recovery rates at all, with firms having to pay for new infrastructure to deal with the “new normal” in fashion.</p>
		<p class="para">British fashion retailers have seen a drop in footfall by approximately 79%, with April 2020 seeing a 69.5% reduction in clothing sales. Unlike other sectors, the percentage change in sales value of clothing in Great Britain remained negative in the summer, with figures for autumn sales yet to be released. It is unlikely that any substantial recovery will be seen until late 2021, with continued restrictions on retail and the introduction of Tier 4 in England leaving many fashion retailers concerned for the future. Already this year countless brands have fallen into the hands of administration, most notably Debenhams and Phillip Green’s Arcadia Group, with 25,000 jobs lost. Another notable company on the brink of collapse is the Edinburgh Woollen Mill company who also own the Peacocks and Jaeger brands with over 4,700 jobs at risk. This is yet another example of a fashion company that failed to adapt sufficiently to meet the boom in demand for online fashion.</p>
		<p class="para">One outlier to the general trend is PRIMARK, who continue to resist entering the online fashion market. It may be part of the company philosophy, but how long will PRIMARK be able to sustain an exclusive high street presence? Perhaps only time will tell, but in the meantime, PRIMARK is attempting to recover from almost three months of complete shutdown. With the cult following PRIMARK has seen to have attracted, this may be an easier job than other retailers, but one thing is for sure - fashion retail must continue adapting to the “new normal”. It wouldn’t be surprising to see even more retailers fold in the new year.</p>
		<p class="para">Sources include : Statistica, Office of National Statistics, Business Live</p>
		<p class="para">By Thomas Richardson - Uploaded on 21/12/2020</p>
	</div>
	<div class="footer" id="footer">
		<h4>About Us:</h4>
		<p style="font-size:24px;">Written by highly-skilled and passionate A-level economists, Blogonomics is an easy-to-read economics blog site which guarantees high quality content on a regular basis.</p>
		<p>For any queries, contact the content writers:
		<ul>
			<li>Akshay Lonkar - akshaylon@crgs.co.uk</li>
			<li>Aron Jhita - aronjhi@crgs.co.uk</li>
			<li>Arzim Asmil - arzimasm@crgs.co.uk</li>
			<li>Dhakshinesh Desikan - dhakshineshsiv@crgs.co.uk</li>
			<li>Hassam Zahid - hassamzah@crgs.co.uk</li>
			<li>Pranay Gogia - pranaygog@crgs.co.uk</li>
			<li>Rees Popovici - reespop@crgs.co.uk</li>
			<li>Thomas Richardson - thomasric@crgs.co.uk</li>
		</ul>
		</p>
	</div>
</body>